<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.bluetooth">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ehealth"
        android:label="eHealth"
        android:roundIcon="@drawable/ehealth"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".UbidtosActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StartActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HeartBeat"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TemperatureActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".BloodPressure"
            android:screenOrientation="landscape" />
        <activity android:name=".ShowOff"
            android:screenOrientation="landscape"/>
        <activity android:name=".GlucoseActivity"
            android:screenOrientation="landscape"
            >

        </activity>
    </application>

</manifest>